[Desktop Entry]
Type=Application
Version=1.0
Name=StructView
Comment=Fast, cross-platform structured data viewer and editor
Exec=struct_view %f
Terminal=false
Categories=Development;Utility;TextEditor;
MimeType=application/json;text/json;
StartupNotify=true
StartupWMClass=struct_view
